$primaryBlue: #0063fb;
$aliceBlue:#e3f2fd;
$marble:#F6F8FB;
$licorice: #464646;
$milk: #FFFFFF;
$smalt: #003E9D;
$lighterBlue:#1D72DB;
$black: black;
$skin:rgb(223, 214, 214);
$BoxShadowGrey: #ADADAD;
$lightGray:#C3CCD9;
$FadeBlack:rgba(0, 0, 0, 0.54);
$lightPearl: rgb(245, 232, 232); 
$softGrey: #645f5f;
$Ice: #f1f9ffa7;
$babyBlue: #2B7EFF;
$coco: #716e6e;
$darkest: rgb(0, 0, 0);
