.frontpage {
  margin-left: 15%;
  margin-right: 15%;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  list-style-type: none;
}
.nav__item {
  display: flex;
  font-size: 12px;
  color: #464646;
  padding: 14px 0px 14px 0px;
}
.nav__item > span {
  margin-left: 0.5em;
  margin-top: 5px;
}
.nav__item:hover {
  border-bottom: #0063fb solid 2px;
}
.nav__logo {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-right: 17em;
  margin-left: 0.5em;
  color: #464646;
}
.nav__logo:hover {
  border-bottom: #0063fb solid 2px;
}
.nav__img {
  width: 100px;
  height: auto;
  margin-left: -3em;
  margin-right: 0.5em;
}
.nav__line {
  border: none;
  height: 1px;
  background-color: #ccc;
}

.searchbar {
  display: flex;
  align-items: center;
}
.searchbar__search {
  margin: 20px;
  text-align: center;
  flex-grow: 1;
}
.searchbar__search input[type=search] {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
.searchbar__kart {
  margin-left: 8px;
  color: #464646;
  font-weight: bold;
}
.searchbar__kart:hover {
  text-decoration: underline;
}

.category {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin-left: 40px;
}
.category__element {
  color: #06befb;
}
.category__element:hover {
  color: #767676;
}

.recomended {
  margin-right: 8px;
}
.recomended__header {
  display: inline-block;
  margin-top: 2em;
  font-size: 22px;
  color: #464646;
}
.recomended__link {
  color: #0063fb;
  font-size: 14px;
}
.recomended__link:hover {
  text-decoration: underline;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-gap: 5px;
  justify-items: center;
}
.card__container {
  position: relative;
  width: 300px;
  padding: 10px;
}
.card__container:hover {
  background-color: #f1f9ff;
  border-radius: 5px;
}
.card__location {
  font-size: 12px;
  color: #767676;
}
.card__description {
  font-size: 15px;
  color: #464646;
}
.card__img {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #ccc;
}
.card__icon {
  border: hidden;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 1;
  padding: 10px;
  background-color: transparent;
  color: white;
}
.card__icon:hover {
  background-color: rgba(147, 197, 253, 0.5019607843);
}
.card__price {
  font-size: 15px;
  color: white;
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 1;
  padding: 5%;
}

@media screen and (max-width: 900px) {
  .category {
    overflow: scroll;
  }
}
@media screen and (max-width: 1010px) {
  .nav__logo > span {
    display: none;
  }
  .nav__item > span {
    display: none;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    justify-items: center;
  }
  .card__container {
    width: 100%;
    padding: 10px;
    margin: 0;
  }
}
@media screen and (max-width: 1300px) {
  .frontpage {
    margin-left: 2%;
  }
}/*# sourceMappingURL=common.css.map */