// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2
body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}

/*nav bar*/
.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}
.nav__menu > li {
    display: flex;
    font-size: 12px;
}
.nav__menu > li > a {
    color: #464646;
}
.navbar__logo {
    display: flex;
    align-items: center;
}
.navbar__logo > img {
    width: 100px;
    height: auto;
    margin-left: -3em;
}
.navbar__logo p {
    display: inline-block;
    font-size: 12px;
    margin-right: 17em;
    margin-left: 0.5em;
}
.navbar__logo p:hover {
    text-decoration: underline;
}
.line {
    border: none;
    height: 1px;
    background-color: #ccc;
}
/*nav bar end*/

/*kart*/
.kart {
    display: flex;
    align-items: center;
}
p > a {
    margin-left: 8px;
    color: #464646;
}
/*kart end*/

/*elements*/
.category__elements {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 50px;
    margin-left: 40px;
}
.category__elements a:hover {
    text-decoration: none;
    color: #767676;
}
/*elements end*/

/*anbefalinger + link + some general*/
h1 {
    margin-top: 2em;
    font-size: 22px;
    color: #464646;
}
a {
    text-decoration: none;
    color: #06befb;
}
h1, a {
    display: inline-block;
    margin-right: 0.2em;
}
a:hover {
    text-decoration: underline;
}
p{
    color: #464646;
}
/*anbefalinger end*/


@media screen and (max-width: 1010px) {
    .navbar__logo > a > p {
    display: none;
    }
    .nav__menu > li > a {
    display: none;
    }
}

@media screen and (max-width: 1300px) {
    body {
        margin-left:2%;
    }
}